* {
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #23275fda, #201f31d8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 7px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo { font-size: 10px; }

.habilitar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .7);
}
.stop button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .7);
}

.editar{
    display: fixed;
    transform: translate(0%, -60%);
    flex-direction: column;
    width: 600px;
    height: 400px;
    background: linear-gradient(120deg, #23275fda, #201f31d8);
    color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .7);
    border: 3px solid #000;
    border-radius: 5px;
    z-index: 9999;
}

.fechar {
    cursor: pointer;
    background: transparent;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 420px;
    height: 50px;
    background: rgba(63, 63, 66 .6);
    border-bottom: 2px solid black;
}

.horario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 40px;
    margin-top: 50px;
    
}
.horario input{
    text-align: center;
    height: 20px;
    width: 100px;
    background: rgba(0, 0, 0, .9);
    color: #fff;
    border-radius: 5px;
}

.som{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height:80px ;
}

.som input{ background: transparent; }

.volume{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.check input{
    text-align: center;
    background: rgba(0, 0, 0, .9);
    border-radius: 5px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.titulo input{
    text-align: center;
    width: 200px;
    height: 24px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .7);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 80px;
    border-top: 3px solid rgb(0, 0, 0);
}

.footer button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 24px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .7);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#editarAlarme {
    display: none;
}